<footer class="footer bg-light mt-auto py-3">
    <div class="container text-center">
        <p class="text-muted">Connect with us on social media!</p>
        <a href="#" class="text-muted me-3"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-muted"><i class="fab fa-facebook"></i></a>
        
    </div>
</footer>